@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSSs -->
    <link rel="stylesheet" href="/css/icon-fonts.css" media="all" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css" media="all" />
    <link rel="stylesheet" href="/plugins/intl-tel-input/css/intlTelInput.min.css" media="all" />
    <link rel="stylesheet" href="/plugins/dropzone/css/dropzone.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/careers/style.css" media="all" />
    <link rel="stylesheet" href="/css/fonts.css" media="all" />
    <link rel="stylesheet" href="/css/careers/layout.css" media="all" />
    <link rel="stylesheet" href="/css/careers/template.css" media="all" />
    <!-- Scripts -->
    <script src="/scripts/jquery-3.6.0.min.js"></script>
    <script src="/scripts/jquery-migrate.min.3.4.0.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/plugins/select2/js/select2.min.js"></script>
    <script src="/plugins/intl-tel-input/js/intlTelInput.min.js"></script>
    <script src="/plugins/dropzone/js/dropzone.min.js"></script>
    <script src="/scripts/custom-careers.js"></script>
</head>
<body>
    @RenderBody()
</body>

</html>